<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <appSettings>
      <!-- These settings can all be overwritten on the commandline as well with the syntax  /key:value -->
      
      <!--  Settings for your Index and Data source -->
      <add key="SearchServiceName"      value="" />
      <add key="SearchServiceApiKey"    value="" />

      <add key="IndexName"              value="" />
      
      <!-- cosmos connection string should be in this format:  AccountEndpoint=https://MY-SERVICE.documents.azure.com:443/;AccountKey=MY_KEY;Database=MY-DATABASE;  -->
      <add key="ConnectionString"       value="" />
      <add key="ContainerName"          value="" />
      <add key="IndexerNamePrefix"      value="idxpart" />

      <!-- Set Partition Dates to use a date paritioning scheme with cosmos, otherwise leave blank and a numeric, paritioning scheme is used -->
      <!-- Partition Dates may be in the form of Unix timestamp (1559952000) or .NET timestamp (6/23/2019 6:07:56 PM -07:00)  -->
      <add key="PartitionStartDate"     value="" />
      <add key="PartitionEndDate"       value="" />
      
      <!-- number of parallel indexers or import operations -->
      <add key="PartitionCount"         value="1" />
      <add key="PartitionFormatString"  value="00" />  <!-- C# format string for the value passed to the datasource and indexer templates -->
      
      <!-- templates to use then creating the indexer and datasource -->
      <add key="DatasourceTemplate"    value="datasource-jsonlines.json" />
      <add key="IndexerTemplate"       value="indexer-jsonlines.json" />
      
      <!-- Size of the batches used by the indexer or import command-->
      <add key="BatchSize"             value="1000" />

      <!-- Settings used by the "import" command  -->
      <add key="ImportFile"            value="" />  <!-- path to local file to directly upload to the index -->
      <add key="KeyField"              value="id" />  <!-- Name of the index key field -->
      <add key="Forever"               value="false" />  <!-- set to true to continously import the data from the same file -->
      <add key="RampMinutes"           value="0" />  <!-- set to the number of minutes to wait between adding additional degrees of parallelism this is useful to optimize the paralellism -->
      
      <!-- Datasources queries will be executed and validated when creating the indexer. If the query is paticularly expensive, disable this validation by setting SkipValidation to true. -->
      <add key="SkipValidation"        value="false" />
      
    </appSettings>
  <runtime>
    <gcServer enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.1.1.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
